<div class="image-items">
  <p><b>Here are the images:</b></p>

  <div class="image-grid">

    <% if @images.empty? %>
      <p>There are currently no images</p>
    <% else %>
      <% @images.each do |image| %>
        <div class="image-item">
          <img src="<%= image.url %>" width="400" height="500">
          <p><%= image.caption %></p>
          <p><%= image.date_time %></p>
          <form action="/images/<%= image.id %>" method="post">
            <% if image.user_id == @user %>
              <input type="hidden" name="_method" value="delete">
              <input class="button" type="submit" value="Delete">
            <% end %>
          </form>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
