<div class="form">
  <a>Welcome...</a>
  <%= flash[:notice] %>
  <div>
    <h3>Account Page</h3>
    <br>
    <i>These are the current users in the database:</i>
    <br>
    <%= @users %>
  </div>
</div>