<html>

  <head>
    <title>FOLIO...site in build </title>
    <script src="mapkick.bundle.js"></script>
  </head>

  <body>

    <header>
      FOLIO: site in build...
    </header>

    <%=yield%>

  </body>

</html>