<!DOCTYPE html>
<html>

  <head>
    <title>FOLIO...site in build </title>
    <script src="mapkick.bundle.js"></script>
     <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <header>
    </header>

      <%= partial :"partials/navbar" %>
      <%= yield %>
    <div align="center">
        <%= partial :"partials/map_with_images" %>
    </div>


    <footer>
      <%= partial :"partials/debug" %>
    </footer>

  </body>

</html>