<!DOCTYPE html>
<html>

  <head>
    <title>FOLIO...site in build </title>

    <%# For the map %>
    <script src="/mapkick.bundle.js"></script>

    <%# For the search bar autocomplete %>
    <script src="jquery-3.7.0.min.js"></script>
    <script src="search_query.js"></script>

    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <header>
    </header>

      <%= partial :"partials/navbar" %>
      <%= yield %>


    <footer>
      <%= partial :"partials/debug" %>
    </footer>

  </body>

</html>