<!DOCTYPE html>
<html>

  <head>
    <title>FOLIO...site in build </title>
    <%# For the map %>
    <script src="/mapkick.bundle.js"></script>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="<%= @current_user&.background_color || 'light' %>">

    <header>
    </header>

      <%= partial :"partials/navbar" %>
      <%= yield %>


    <footer>
      <%= partial :"partials/debug" %>
    </footer>

  </body>

</html>