<form action='/account_page' method='get'>
    <input type="submit" value="Go to account page" />
</form>

<div>
    <%= js_map [{latitude: 48.884165 , longitude: 2.371737, label: 'Home', tooltip: 'On the canal'}] %>
</div>
