<%= partial :"partials/navbar" %>
<form action='/' method='get'>                
    <input type="submit" value="Go to account page" />
</form>

<div align="center">
    <%= partial :"partials/map_with_images" %>
</div>
