<form action='/account_page' method='get'>
    <input type="submit" value="Go to account page" />
</form>

<div>
    <%=
    link = '<a href="https://collections.vam.ac.uk/search/?q=edward%20muybridge&page=1&page_size=15" target= "blank">click here</a>'
    data = [{latitude: 48.884165 , longitude: 2.371737, label: 'Home', tooltip: link }]
    js_map data,
           id: "cities-map",
           width: "800px",
           height: "500px",
           tooltips: {hover: false, html: true},
           markers: {color: "#0f0f0f"},
           style: "mapbox://styles/mapbox/outdoors-v12",
           zoom: 11.5
    %>
</div>
