<%= flash[:notice] %>
<form action="/settings" method="post">
  <label for="background_color">Background Color:</label>
  <select name="background_color" id="background_color">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
  <input type="submit" value="Save">
</form>   
   
<%#
  form to set the users visibility to false we would need to make a new migration,
  with a row on the users table, that is by default set to true
%>