<form action="/settings" method="post">
  <label for="background-color">Background Color:</label>
  <select name="background-color" id="background-color">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
  <input type="submit" value="Save">
</form>   
   
   